/* Estilos para el elemento Home */
.Home-container {
  display: flex;
  align-items: start;
  justify-content: space-around;
}

/* Estilos para el elemento Pelicula */
.Pelicula-card {
  width: 18rem;
}

/* Estilos para el elemento PeliDetalles */
.PeliDetalles-card {
  width: 40%;
}

.PeliDetalles-contenedor-boton {
  width: 100%;
}